// Flex
.card{width: 98%;overflow: hidden;border: 3px solid #ced1d5;padding: 20px 15px;border-radius: 5px;}
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
  }
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
.flex {/*display: flex;*/border: 1px solid #8ca1b0;@include flexbox;}
.inline-flex {display: inline-flex;border: 1px solid #8ca1b0;}
.flex-row {flex-direction: row;}
.flex-row-reverse {flex-direction: row-reverse;}
.flex-col {flex-direction: column;}
.flex-col-reverse {flex-direction: column-reverse;}
.flex-no-wrap {flex-wrap: nowrap;}
.flex-wrap {flex-wrap: wrap;}
.flex-wrap-reverse{flex-wrap: wrap-reverse;}
.flex-1 {flex: 1 1 0%;}

.items-stretch{align-items: stretch;}
.items-start{align-items: flex-start;}
.items-center{align-items: center;}
.items-end{align-items: flex-end;}
.items-baseline{align-items: baseline;}

.content-start{align-content: flex-start;}
.content-center{align-content: center;}
.content-end{align-content: flex-end;}
.content-between{align-content: space-between;}
.content-around{align-content: space-around;}

.self-auto{align-self: auto;}
.self-start{align-self: flex-start;}
.self-center{align-self: center;}
.self-end{align-self: flex-end;}
.self-stretch{align-self: stretch;}

.justify-start{justify-content: flex-start;}
.justify-center{justify-content: center;}
.justify-end{justify-content: flex-end;}
.justify-between{justify-content: space-between;}
.justify-around{justify-content: space-around;}

.flex-initial{flex: initial;}
.flex-1{flex: 1;}
.flex-auto{flex: auto;}
.flex-none{flex: none;}
.flex-grow{flex-grow: 1;}
.flex-shrink{flex-shrink: 1;}
.flex-no-grow{flex-grow: 0;}
.flex-no-shrink{flex-shrink: 0;}

.order1{order:1;}
.order2{order:2;}
.text-center {text-align: center;}
.h-24{height:6rem;}
.h-48 {height:12rem;}
.px-4 {padding-left: 1rem;padding-right: 1rem;}
.py-2 {padding-top: .5rem;padding-bottom: .5rem;}
.p-4 {padding: 1rem;}
.border-b {border-bottom-width: 1px;}
.m-2 {margin: .5rem;}
.text-2xl{font-size: 1.5rem;}
.text-lg {font-size: 1.125rem;}
.border-grey-light {border-color: #dae1e7;}
*, :after, :before {border: 0 solid #dae1e7;}

@media only screen and (max-width:768px){
    .mobile1{order:1;}
    .mobile2{order:2;}
}

