<div class="card">
<h1>The World Of Flex</h1>
<h2>Display Flex</h2>
<div class="flex bg-grey-lighter">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>
<h2>Display Inline-Flex</h2>
<div class="inline-flex bg-grey-lighter">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1 because its inline</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>
<h2>Flex Row - the default property</h2>
<div class="flex flex-row bg-grey-lighter">
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>
<h2>Flex Row Reverse</h2>
<div class="flex flex-row-reverse bg-grey-lighter">
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>
<h2>Flex Column</h2>
<div class="flex flex-col bg-grey-lighter">
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>
<h2>Flex column reverse</h2>
<div class="flex flex-col-reverse bg-grey-lighter">
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>
<h2>Flex no-wrap</h2>
<div class="flex flex-no-wrap bg-grey-lighter">
  <div class="w-2/5 flex-none p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">1</div>
  </div>
  <div class="w-2/5 flex-none p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">2</div>
  </div>
  <div class="w-2/5 flex-none p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">3</div>
  </div>
</div>

<div class="flex flex-no-wrap bg-grey-lighter">
  <div class="w-2/5 flex-none p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">1</div>
  </div>
  <div class="w-2/5 flex-none p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">2</div>
  </div>
  <div class="w-2/5 flex-none p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">3</div>
  </div>
  <div class="w-2/5 flex-none p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">4</div>
  </div>
  <div class="w-2/5 flex-none p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">5</div>
  </div>
</div>

<h2>Flex-wrap</h2>
<div class="flex flex-wrap bg-grey-lighter">
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">1</div>
  </div>
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">2</div>
  </div>
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">3</div>
  </div>
</div>

<div class="flex flex-wrap bg-grey-lighter">
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">1</div>
  </div>
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">2</div>
  </div>
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">3</div>
  </div>
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">4</div>
  </div>
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">5</div>
  </div>
</div>

<h2>Flex-wrap-reverse</h2>
<div class="flex flex-wrap-reverse bg-grey-lighter">
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">1</div>
  </div>
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">2</div>
  </div>
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">3</div>
  </div>
</div>

<div class="flex flex-wrap-reverse bg-grey-lighter">
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">1</div>
  </div>
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">2</div>
  </div>
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">3</div>
  </div>
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">4</div>
  </div>
  <div class="w-2/5 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">5</div>
  </div>
</div>

<h1>Align items [CrossAxis Positioning]</h1>
<h2>items-stretch</h2>
<div class="flex items-stretch bg-grey-lighter h-24">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h2>items-start</h2>
<div class="flex items-start bg-grey-lighter h-24">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h2>items-center</h2>
<div class="flex items-center bg-grey-lighter h-24">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h2>items-end</h2>
<div class="flex items-end bg-grey-lighter h-24">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h2>items-baseline</h2>
<div class="flex items-baseline bg-grey-lighter h-24">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2 text-base">1</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2 text-2xl">2</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2 text-lg">3</div>
</div>

<h1>Align Content [Positioning in multi-line flex containers]</h1>
<h2>content-start</h2>
<div class="flex content-start flex-wrap bg-grey-lighter h-48">
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">1</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">2</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">3</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">4</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">5</div>
  </div>
</div>

<h2>Content-center</h2>
<div class="flex content-center flex-wrap bg-grey-lighter h-48">
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">1</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">2</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">3</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">4</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">5</div>
  </div>
</div>

<h2>content-end</h2>
<div class="flex content-end flex-wrap bg-grey-lighter h-48">
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">1</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">2</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">3</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">4</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">5</div>
  </div>
</div>

<h2>content-between</h2>
<div class="flex content-between flex-wrap bg-grey-lighter h-48">
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">1</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">2</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">3</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">4</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">5</div>
  </div>
</div>

<h2>content-around</h2>
<div class="flex content-around flex-wrap bg-grey-lighter h-48">
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">1</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">2</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">3</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">4</div>
  </div>
  <div class="w-1/3 p-2">
    <div class="text-grey-darker text-center bg-grey-light p-2">5</div>
  </div>
</div>

<h1>Align Self - an individual flex item positioning along its container's cross axis.</h1>

<h2>Self Auto</h2>

<div class="flex items-stretch bg-grey-lighter h-24">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="self-auto flex-1 text-grey-darkest text-center bg-grey px-4 py-2 m-2">2</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h2>Self Start</h2>

<div class="flex items-stretch bg-grey-lighter h-24">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="self-start flex-1 text-grey-darkest text-center bg-grey px-4 py-2 m-2">2</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h2>Self Center</h2>

<div class="flex items-stretch bg-grey-lighter h-24">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="self-center flex-1 text-grey-darkest text-center bg-grey px-4 py-2 m-2">2</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h2>Self End</h2>
<div class="flex items-stretch bg-grey-lighter h-24">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="self-end flex-1 text-grey-darkest text-center bg-grey px-4 py-2 m-2">2</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h2>Self Stretch</h2>

<div class="flex items-start bg-grey-lighter h-24">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="self-stretch flex-1 text-grey-darkest text-center bg-grey px-4 py-2 m-2">2</div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h1>Justify Content - flex items positioned along a container's main axis.</h1>

<h2>justify-start</h2>
<div class="flex justify-start bg-grey-lighter">
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h2>justify-center</h2>
<div class="flex justify-center bg-grey-lighter">
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h2>justify-end</h2>
<div class="flex justify-end bg-grey-lighter">
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h2>justify-between</h2>
<div class="flex justify-between bg-grey-lighter">
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h2>justify-around</h2>
<div class="flex justify-around bg-grey-lighter">
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">1</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">2</div>
  <div class="text-grey-darker text-center bg-grey-light px-4 py-2 m-2">3</div>
</div>

<h1>Grow, shrink</h1>

<h2>Flex Initial</h2>
<div class="flex bg-grey-lighter">
  <div class="flex-initial text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Short
  </div>
  <div class="flex-initial text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Medium length
  </div>
</div>

<div class="flex bg-grey-lighter">
  <div class="flex-initial text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Short
  </div>
  <div class="flex-initial text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Medium length
  </div>
  <div class="flex-initial text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ad labore ipsam, aut rem quo repellat esse tempore id, quidem
  </div>
</div>

<h2>Flex 1</h2>

<div class="flex bg-grey-lighter">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Short
  </div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Medium length
  </div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Significantly larger amount of content
  </div>
</div>

<h2>Auto</h2>
<div class="flex bg-grey-lighter">
  <div class="flex-auto text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Short
  </div>
  <div class="flex-auto text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Medium length
  </div>
  <div class="flex-auto text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Significantly larger amount of content
  </div>
</div>

<h2>None</h2>
<div class="flex bg-grey-lighter">
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Item that can grow or shrink if needed
  </div>
  <div class="flex-none text-grey-darkest text-center bg-grey px-4 py-2 m-2">
    Item that cannot grow or shrink
  </div>
  <div class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Item that can grow or shrink if needed
  </div>
</div>

<h2>Grow</h2>
<div class="flex bg-grey-lighter">
  <div class="flex-none text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Content that cannot flex
  </div>
  <div class="flex-grow text-grey-darkest text-center bg-grey px-4 py-2 m-2">
    Item that will grow
  </div>
  <div class="flex-none text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Content that cannot flex
  </div>
</div>

<h2>Dont Grow</h2>
<div class="flex bg-grey-lighter">
  <div class="flex-grow text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Will grow
  </div>
  <div class="flex-no-grow text-grey-darkest text-center bg-grey px-4 py-2 m-2">
    Will not grow
  </div>
  <div class="flex-grow text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Will grow
  </div>
</div>

<h2>Shrink</h2>
<div class="flex bg-grey-lighter">
  <div class="flex-none text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Longer content that cannot flex
  </div>
  <div class="flex-shrink text-grey-darkest text-center bg-grey px-4 py-2 m-2">
    Item that will shrink even if it causes the content to wrap
  </div>
  <div class="flex-none text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Longer content that cannot flex
  </div>
</div>

<h2>Dont Shrink</h2>
<div class="flex bg-grey-lighter">
  <div class="flex-shrink text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Item that can shrink if needed
  </div>
  <div class="flex-no-shrink text-grey-darkest text-center bg-grey px-4 py-2 m-2">
    Item that cannot shrink below its initial size
  </div>
  <div class="flex-shrink text-grey-darker text-center bg-grey-light px-4 py-2 m-2">
    Item that can shrink if needed
  </div>
</div>

<h2>Flex Ordering</h2>
<div class="flex flex-col">
<div class="order1 mobile2 flex-row"> Block A Ordered using mixin's/Mobile last</div>
<div class="order2 mobile1 flex-row"> Block B Ordered using mixin's/Mobile first</div>
</div>
</div>