<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to CSS {{ title }}!
  </h1>
  <ul class="nav nav-link">    
    <li routerLinkActive="active">
      <a routerLink="flex">Explore Flex</a>
    </li>
    <!-- <li routerLinkActive="active">
        <a routerLink="componenta">Grid CSS</a>
    </li>
    <li routerLinkActive="active">
        <a routerLink="componentb">Browser Compatibility</a>
    </li>
    <li>
        CSS Tricks
    </li> -->
  </ul>
</div>

<router-outlet></router-outlet>



