/* You can add global styles to this file, and also import other style files */
// colors

.bg-grey-lighter {background-color: #f1f5f8;}
.bg-grey-light {background-color: #dae1e7;}
.bg-grey {background-color: #b8c2cc;}
.text-grey-darker {color: #606f7b;}
.text-grey-darkest {color: #3d4852;}
.w-2\/5 {width: 40%;}
.w-1\/3 {width: 33.33333%;}
.p-2 {padding: .5rem;}

ul{
    li{
        display: inline-flex;
        list-style-type: none;
        font-size:16px;
        text-transform: capitalize;
        font-weight: bold;
        justify-content: center;
        margin: 0 5px;
    }
}